





{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

  <hr>
  {% if request.user.is_authenticated %}
  <h3>Bienvenido,inicio exitoso</h3>
  <hr>
  <h4>
      Bienvenido usuario: {{ user.username | upper }}
      </h4>
  {% endif %}
  <hr>
  <div class="container">
    <h1>CREAR CURSO</h1>
    <div class="table-responsive">
      <table id="customers" class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre de curso</th>
            <th>Profesor a cargo</th>
            <th>Fotografia de Profesor jefe</th>
            <th>Cantidad de alumnos</th>
            <th colspan="2" id="mid">Realizar</th>
          </tr>
        </thead>
        <tbody>
          {% for x in foto %}
            <tr>
              <td>{{ x.id }}</td>
              <td>{{ x.nombre }}</td>
              <td>{{ x.descripcion }}</td>
              <td>
                <img src="{{ x.archivo_fotografia.url }}" alt="{{ x.nombre }}" class="img-fluid">
              </td>
              <td>{{x.Cantidad_alumno}}</td>
              <td>
                {% if user.is_superuser %}
                  <a href="actualizarProducto/{{ x.id }}"><button class="btn btn-primary">Actualizar</button></a>
                
              </td>
              <td>
                <a href="eliminar/{{ x.id }}"><button class="btn btn-danger">Eliminar</button></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br><br>
    {% if user.is_superuser %}
      <a href="{% url 'agregarProducto' %}"><button class="btn btn-info">Agregar Curso</button></a><br><br>
    {% endif %}
    
  </div>
</div>


{% endblock %}